<p> These are the flashcards </p>
<ul>
<% @flashcards.each do |card| %>
  <li>name:
    <%= card.name %>
      question:
    <%= card.question %>
      answer:
    <%= card.answer %>
  </li>
<% end %>
</ul>